$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

@mixin media_screen_mobile {
    @media only screen and (min-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin media_screen_tablet {
    @media only screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin media_screen_laptop {
    @media only screen and (min-width: $breakpoint-laptop) {
        @content;
    }
}

@mixin media_screen_desktop {
    @media only screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin container {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    @include media_screen_mobile {
        .container {
            width: 540px;
        }
    }
    @include media_screen_tablet {
        .container {
            width: 720px;
        }
    }
    @include media_screen_laptop {
        .container {
            width: 960px;
        }
    }
    @include media_screen_desktop {
        .container {
            width: 1140px;
        }
    }
}
